html {
  background-color: #1d1d1d;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

body {
  margin: 0;
}

.block-picker {
  border-radius: 0px;
}

.block-picker > div:nth-child(2) {
  border-radius: 0px !important;
}

.block-picker > div:nth-child(3) {
  display: none;
}

/* .chrome-picker > div:nth-of-type(2) > div:nth-of-type(2) {
  display: none !important;
} */

.main {
  display: flex;
  flex-direction: column;
  padding: 3% 0;
}

.main-item {
  margin: 0 15%;
}

.center {
  text-align: center;
}

.title {
  font-family: 'Lato', Regular;
  font-weight: 300;
  font-size: 5em;
  letter-spacing: 0.1em;
  margin: 0;
}

.divider {
  border-bottom: 3px solid #999999;
  margin: 2em 0em;
}

.explanation {
  margin-bottom: 2em;
}

.selector-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 2em;
  border: 1px solid #393939;
  background-color: #1f1f1f;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.color-picker {
}

.color-grid {
  display: flex;
  flex-direction: column;
  margin: 2em;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 4px 8px;
}

.color-grid-row {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

/* small = 37% */
/* large=63% */

.color-primary {
  /* margin: 2em 0.1em 0.1em 2em; */
  /* width: 63%;
  flex-grow: 1.68; */
}

.color-secondary {
  /* margin: 2em 2em 0.1em 0.1em; */
}

.color-tertiary {
  /* margin: 0.1em 0.1em 2em 2em; */
}

.color-quaternary {
  /* margin: 0.1em 2em 2em 0.1em; */
  /* width: 37%; */
  /* flex-grow: 0.53; */
}
